@use '../../../styles/variables' as *;

.search_bar{
    margin: 10px auto;
    position: relative;
    width: 60vw;
    height: 7vw;

    input{
        width: inherit;
        height: inherit;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid $secundary-color;
        &:focus{
            outline: 2px solid $primary-color;
        }
    }
}

.search_icon{
    position: absolute;
    right: 2%;
    top: 0;
    height: inherit;
}

.notes_container{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.filter_by_type{
    display: flex;
    justify-content: center;
    color: $secundary-color;
}

@media only screen and (min-width: 400px) {
    .notes_container{
        flex-direction: row;
        flex-wrap: wrap;

        /* quick fix*/
        margin-left: 2.2%;
    }
}

@media only screen and (min-width: 750px) {
    .search_bar{
        width: 45vw;
        height: 4vw;
    }
}