@use "../../../styles/variables" as *;

.new_note{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .back_btn{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 3%;
    left: 3%;
    color: $text-color2;
    cursor: pointer;


    &:hover{
      transition: 0.4s;
      color: darken($text-color2, 20%);
    }
  }

  button{
    width: 80%;
    height: 70%;
    font-size: $text_size1;
    cursor: pointer;
    background-color: $primary-color;
    color: $text-color;
    border: none;

    &:hover{
      transition: 0.4s;
      background-color: lighten($primary-color, 20%);
      color: lighten($text-color, 20%);
    }
  }

  
}
.new_note_form{
  position: relative;
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  color: $secundary-color;

  .note_input_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    input{
      width: 100%;
      padding: 5px;
      border: none;
      border-radius: 5px;
      width: 100%;
    }
    label{
      text-align: left;
    }
  }

  .send{
    width: 100%;
    height: 30px;
    font-size: $text_size4;
    border-radius: 5px;
  }
}
.note{
    padding: 0;
    display: flex;
    flex-direction: column;
    .note_header{
      padding: 10px;
      span: {
        font-size: $text_size4 !important;

      }
    }
    .note_details{
      padding: 10px;
      flex-grow: 1;
      flex-shrink: 1;
      color: $secundary-color;
    }
    .note_footer{
      padding: 10px;

    }
}

.different_note{
  color: $primary-color !important;

  .note_input_container{
    color: $primary-color !important;
  }
}