@use "../../../styles/variables" as *;

.page404_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;

  .content{
    background-color: $secundary-color;
    height: 70%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: $primary-color;
    article{
      h2, .icon{
        font-size: $text-size-bigger;
      }
      p{
        font-size: $text-size3;
        margin-top: 10px;
      }
  
    }
  }

}
