$text-color: #0b3948;
$text-color2: #ffffff;

$primary-color: #d9dbf1;
$secundary-color: #416165;

$text-size-bigger: 40px;
$text-size1: 31px;
$text-size2: 25px;
$text-size3: 20px;
$text-size4: 16px;
$text-size5: 13px;
$text-size6: 9.5px;
