$text-color: #0B3948;
$text-color2: #e1e1e4;

$primary-color: #D9DBF1;
$secundary-color: #416165;

$text-size-bigger: 40px;
$text-size1: 31px;
$text-size2: 25px;
$text-size3: 20px;
$text-size4: 16px;
$text-size5: 13px;
$text-size6: 11px;