@use "../../../styles/variables" as *;
@use "../../../styles/mixins";

.navbar_container {
  position: relative;

}

.navbar {
  z-index: 3;
  position: fixed;
  width: inherit;
  height: inherit;

  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;

  h1 {
    font-size: $text-size3;
    font-weight: bold;
    color: $secundary-color;
    @include mixins.text-color-w-hover($text-color);
  }

  .icon {
    font-size: $text-size2;
    @include mixins.text-color-w-hover($text-color);
  }
}
